.fotoImg {
  width: 900px;
  height: 800px;
  object-fit: cover;
  border-radius: 2px;
  transition: transform 2s, box-shadow 0.5s;
  margin: 0;
  position: absolute;
  left: 1000px;
  top: 120px;
  box-shadow: 0 0px 15px rgba(91, 192, 222, 0.9);
}

.fotoImg:hover {
  box-shadow: 0 0px 30px rgba(91, 192, 222, 0.9);
  transform: scale(1) rotateY(360deg);
}
.texto {
  margin: 0;
  position: relative;
  bottom: 0px;
  color: white;
  font-family: "Inter Tight", sans-serif;
  font-size: 15px;
  width: 950px;
}

#name {
  margin-top: 50px;
  font-size: 50px;
  font-family: "Cinzel", serif;
  color: white;
}
.descripcion {
  max-width: 900px;
}

.botonBack {
  background-color: #06222b; /* Color de fondo transparente */
  color: rgba(91, 192, 222, 0.9);
  padding: 10px 20px; /* Espaciado interno */
  font-size: 30px; /* Tamaño de fuente */
  border: 2px solid; /* Borde sólido transparente */
  cursor: pointer; /* Cursor de puntero al pasar el ratón */
  transition: background-color 1s, color 0.5s, border 0.5s; /* Transición suave para color de fondo, texto y borde */

  margin-top: 15px;
}

/* Cambiar estilos al pasar el ratón sobre el botón */

/* Cambiar estilos al pasar el ratón sobre el botón */
.botonBack:hover {
  background-color: rgba(
    91,
    192,
    222,
    0.9
  ); /* Aumentar la opacidad para intensificar el color de fondo */
  color: #083340; /* Cambiar el color del texto a blanco al pasar el ratón */
  border: none; /* Agregar borde celeste al pasar el ratón */
}
